nav{

 background-color: #4682B4;
 height:100%;
 width: 20%;
 position:fixed;
 border-right: 10px #B0C4DE	 solid;
 top: 0;

}body, html{
    margin:0;
	left:0;
	right:0;
	top:0;
	width:100%;
	font-family: 'Play', sans-serif;
	padding-bottom: 50px;

	/*overflow-x:hidden;*/
}
html{
	/*overflow-y: hidden;*/

}

#fotoperfil{
	margin-top:50%;
	width: 150px;
	height: 150px;
	border:8px #B0C4DE	 solid;

	border-radius: 100%;
  

}
.navlist{
  list-style: none;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-left: 0px;
  


}
.icon{

 height: 40px;
 width: 40px;
 display: inline-block;

}

section{
    /*position: absolute;*/
	margin-left: 300px;
	margin-top: 0;
}
h1{
   font-size: 60px;
   margin-top: 20%;



}
a{
	text-decoration: none;
	color: black;


}
h5{
 color: grey;


}
span{
color: #B0C4DE;

}
a:hover{
 color: white;


}
/*
ul.navlist>li{
text-align: center;

}*/