* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: "Work Sans", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap");
/* header style*/

.headerq598 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 130px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  color: #00554c;
  font-size: 18px;
  background-color: #fff;
}

.headerRightSide {
  display: flex;
  align-items: flex-start;
  align-items: center;
  gap: 12px;
  margin-right: 0;
}

.logoHeader {
  width: fit-content;
}

/* header style */

/* section 1 style */

.sectionOneSoAmor {
  background-image: url(../img/main-banner-desktop.png);
  background-size: cover;
  display: flex;
  justify-content: center;
}

.wrapperSectionOne {
  max-width: 1440px;
  min-width: 1124px;
  height: 880px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.sectionOneTitle {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 96px;
  color: #fff;
}

.sectionOneParagraph {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: #fff;
  width: 400px;
  letter-spacing: 1pt;
}

.sectionOneButton {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  background-color: #00554c;
  border-radius: 4px;
  border: none;
  width: 210px;
  height: 53px;
  text-transform: uppercase;
  transition: 0.5s ease;
  margin-top: 10px;
}

.sectionOneButton:hover {
  cursor: pointer;
  filter: brightness(120%);
  transition: 0.5s ease;
}

.sectionOneButton a,
.sectionOneButton a:visited {
  color: #fff;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 53px;
}

/* section 1 style */

/* section 2 style */

.h2SectionTwoPioneirismo {
  color: #00554c;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-family: "Work Sans", sans-serif;
  position: relative;
  left: 48px;
  bottom: 44px;
  max-width: 382px;
  min-height: 147px;
}

.paragraphSectionTwoPioneirismo {
  color: #33303e;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  font-family: "Work Sans", sans-serif;
  max-width: 502px;
  min-height: 380px;
  margin-top: 80px;
}

.sectionTwoPioneirismo {
  background-color: #efe9e2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* section 2 style */

/* mobile style */

@media screen and (max-width: 1440px) {
  .wrapperSectionOne {
    min-width: 1064px;
  }

  .sectionOneSoAmor {
    background-position-x: -300px;
  }

  .h2SectionTwoPioneirismo {
    left: 0;
    position: relative;
  }

  .sectionTwoPioneirismo {
    padding: 20px;
    gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .headerq598 {
    justify-content: left;
    padding-left: 42px;
    gap: 0;
  }

  .headerRightSide {
    display: none;
  }

  .logoHeader {
    width: fit-content;
  }

  /* header style */

  /* section 1 style */

  .sectionOneSoAmor {
    background-image: url(../img/main-banner-mobile.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    background-position-x: 0px;
    background-repeat: no-repeat;
  }

  .wrapperSectionOne {
    max-width: 1440px;
    min-width: 0px;
    height: 680px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .sectionOneTitle {
    font-size: 48px;
    margin: 0px 40px;
  }

  .sectionOneParagraph {
    font-size: 18px;
    width: fit-content;
    margin: 20px 44px;
  }

  .sectionOneButton {
    margin: 0 40px;
  }

  /* section 1 style */

  /* section 2 style */

  .h2SectionTwoPioneirismo {
    left: 0px;
    bottom: 0px;
    font-size: 48px;
    max-width: 402px;
    position: static;
    margin-bottom: 50px;
  }

  .paragraphSectionTwoPioneirismo {
    max-width: 402px;
    margin-top: 0;
  }

  .sectionTwoPioneirismo {
    background-color: #efe9e2;
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    padding: 40px 40px;
    height: fit-content;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 450px) {
  .sectionOneSoAmor {
    background-position-x: -80px;
  }
  .h2SectionTwoPioneirismo {
    margin-bottom: 50px;
  }
  .sectionTwoPioneirismo {
    display: block;
  }
}

/* mobile style */

/*Third section style */

.third-section {
  background-image: url(../img/third-section-banner-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #efe9e2;
  display: flex;
  justify-content: space-between;
}
.third-section-container {
  display: flex;
  margin-right: 350px;
  flex-direction: column;
}

.third-section-container-title {
  color: #ffffff;
  font-size: 48px;
  font-weight: 600;
  max-width: 380px;
  padding-top: 220px;
  line-height: normal;
  margin-bottom: 48px;
}

.third-section-container-text {
  background: #ffffff;
  color: #33303e;
  font-size: 16px;
  font-weight: 600;
  padding: 35px;
  max-width: 290px;
  min-height: 190px;
  line-height: 24px;
  margin-bottom: 130px;
}

/*Fourth section style */

.fourth-section {
  background: #efe9e2;
  display: flex;
  justify-content: space-evenly;
  padding-left: 150px;
  padding-right: 70px;
}

.fsfc-title {
  font-size: 48px;
  color: #00554c;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 58px;
  padding-top: 80px;
}

.fsfc-text {
  width: 508px;
  font-size: 16px;
  color: #33303e;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 40px;
}

.horizontal-line {
  width: 500px;
  border-bottom: 1.5px solid #4e4b59;
  margin-bottom: 50px;
}

.fsfc-description {
  width: 504px;
  font-size: 14px;
  color: #33303e;
  font-weight: 600;
  line-height: 21px;
  margin-bottom: 20px;
}

.alignment {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding-top: 80px;
  padding-bottom: 200px;
}

.fourth-section-second-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}

.fssc-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.fssc-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
  color: #00554c;
}
.fssc-text {
  width: 200px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  color: #00554c;
}

/*Footer section style */
footer {
  padding-top: 70px;
  padding-bottom: 80px;
  background: #00554c;
  display: flex;
  justify-content: space-evenly;
}

.footer-first-container {
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer-logo {
  width: 225px;
  height: 45px;
}
.vertical-footer-line {
  width: 2px;
  height: 45px;
  background-color: white;
}
.ffc-text {
  font-size: 24px;
  color: #ffffff;
  line-height: 30px;
  font-weight: 400;
}

.footer-second-container {
  display: flex;
  align-items: center;
  gap: 16px;
}
.ffc-phone {
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  color: #ffffff;
}
.ffc-description {
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  color: #ffffff;
}

.line {
  width: 1.5px;
  height: 22px;
  background-color: white;
}

/* mobile style */
@media screen and (max-width: 1440px) {
  .third-section-container {
    display: flex;
    margin-right: 100px;
    flex-direction: column;
  }
}

@media screen and (max-width: 1024px) {
  .third-section {
    background: url(../img/third-section-banner-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #efe9e2;
    display: flex;
    justify-content: center;
  }
  .third-section-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
  }
  .third-section-container-title {
    font-size: 32px;
    font-weight: 600;
    line-height: normal;
  }

  .fourth-section {
    padding-left: 0px;
    padding-right: 0px;
  }

  .fsfc-title {
    margin-top: 80px;
    font-size: 32px;
    color: #00554c;
    font-weight: 600;
    line-height: 37px;
    margin-bottom: 20px;
  }

  .fsfc-text {
    width: 320px;
    font-size: 16px;
    color: #33303e;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 30px;
  }

  .horizontal-line {
    width: 300px;
    border-bottom: 1.5px solid #4e4b59;
    margin-bottom: 50px;
  }

  .fsfc-description {
    width: 300px;
    font-size: 14px;
    color: #33303e;
    font-weight: 600;
    line-height: 21px;
    margin-bottom: 20px;
  }

  .alignment {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 30px;
  }

  .fourth-section-second-container {
    padding-top: 50px;
    gap: 30px;
  }

  .footer-second-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .line {
    width: 1.5px;
    height: 22px;
    background-color: white;
    transform: rotate(90deg);
  }
}

@media screen and (max-width: 850px) {
  .third-section {
    background: url(../img/third-section-banner-mobile.png),
      linear-gradient(
        to top,
        #847d68 0%,
        #847d68 70%,
        #efe9e2 50%,
        #efe9e2 100%
      );
    background-repeat: no-repeat;
    background-size: contain;
  }
  .third-section-container {
    display: flex;
    justify-content: center;
    margin: 0;
    padding-bottom: 50px;
    align-items: center;
  }
  .third-section-container-title {
    margin-top: 160px;
    text-align: center;
  }
  .third-section-container-text {
    margin-bottom: 0px;
  }
  .fourth-section {
    display: flex;
    flex-direction: column;
  }
  .fourth-section-first-container {
    display: flex;
    flex-direction: column;
    padding-left: 35px;
  }
  .fourth-section-second-container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }
  .alignment {
    padding-top: 0;
    padding-bottom: 45px;
  }
  .fsfc-title {
    margin-left: 0px;
    margin-top: 0;
  }

  .third-section-container-text {
    padding: 30px 10px 30px 10px;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
  }

  .formEndMainPage {
    bottom: 0 !important;
    margin: 0 12px;
  }
}

@media screen and (min-width: 360px) and (max-width: 450px) {
  .third-section-container-title {
    margin-top: 250px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1100px) {
  .wrapperSectionOne {
    min-width: 0;
    padding-right: 250px;
    justify-content: center;
  }
}
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 10px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}

@media (max-width: 768px) {
  .float {
    right: 5px;
  }
}

/* Formulario */
.divFormularioFs {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  border-radius: 16px;
  padding: 0 30px;
}
.formEndMainPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  background-color: #f2f2f2;
  padding: 0px 24px 24px 24px;
  border-radius: 18px;
  position: relative;
}

.readingForm {
  text-align: center;
  font-weight: 600;
  color: #33303e;
  font-family: "Work Sans", sans-serif;
}

.inputFormularioFs {
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  background-color: transparent;
  padding-left: 12px;
}

.labelInputFormularioFs {
  position: relative;
  top: 28px;
  left: 12px;
  color: #494949ec;
  width: fit-content;
  background-color: #f2f2f2;
  padding: 0 4px;
  transition: ease 0.2s;
  pointer-events: none;
}

.botaoSubmitForm {
  background-color: #00554c;
  border: none;
  height: 40px;
  margin-top: 18px;
  border-radius: 20px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  font-family: "Work Sans", sans-serif;
  cursor: pointer;
}

.botaoSubmitForm:hover {
  filter: brightness(120%);
  transition: 0.5s ease;
}

.horizonalLineForm {
  width: 100%;
  height: 1px;
  background-color: #bdbaba;
  margin-top: 24px;
  margin-bottom: 12px;
}
.activeLabelJS {
  top: 9px !important;
  left: 10px !important;
  transition: ease 0.2s;
}

.divFormularioFs {
  /* display: none; */
}

/* Estilo do Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  background-color: #f2f2f2;
  border-bottom: 1px solid lightgray;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.modal-title {
  margin-top: 20px;
  font-weight: 600;
  color: #33303e;
  font-family: "Work Sans", sans-serif;
  text-align: center;
}

/* Botão para fechar o modal */
.close {
  position: absolute;
  right: 15px;
  top: 10px;
  color: #aaa;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  transition: 0.5s ease;
}

/* Conteúdo do Modal */
.modal-content {
  position: relative;
  background-color: #f2f2f2;
  margin: 15% auto;
  border: 1px solid #888;
  width: 400px;
  border-radius: 18px;
}

@media screen and (max-width: 768px) {
  .divFormularioFs {
    max-width: 300px;
    padding: 0px;
  }

  .formEndMainPage {
    padding: 0px 24px 24px 24px;
  }

  .modal-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .modal-content {
    width: 300px;
    margin: 10% auto;
  }
}
